# ROOT
/build
/dist
/node_modules
/target
package-lock.json

# SRC
/src/package-lock.json


#
#   BEFORE YOU EDIT
#       google if what you're about to do is safe?
#       do not gitignore packages.json!
#
